@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);

form select {
	display: inline-block;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
header * {
	display: inline-block;
	color: white;
}
* {
	font-family: sans-serif;
}
header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
}
header h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-left: 1rem;
}
header {
	background-color: #33b5e5;
	box-shadow: #555555 0px 0px 13px 1px;
	padding-right: 1rem;
	padding-left: 1rem;
}
header p{
	position: absolute;
	right: 1rem;
	top: 1rem;
}
header a {
	position: absolute;
	right: 1rem;
	top: 3rem;
}
body {
	margin: 0;
	background-color: #e5e5e5;
}
article {
	background-color: #f3f3f3;
	border-radius: 0.3rem;
	padding: 20px;
}
article h2 {
	text-align: center;
	margin-top: 0;
}
section {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}
td {
	padding: 0.3rem;
}
tbody tr td:last-child {
	border-radius: 0.3rem;
	border: transparent solid 2px;
	text-align: center;
}
thead {
	font-weight: bold;
}